 body {
  margin: 0;
  padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 600px;
	 height: 575px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 600px;
	 height: 575px;
	 z-index:1;
} 

 #Rectangle1 
{ 
	 left: 47px; 
	 top: 293px; 
	 position: absolute; 
	 width: 255px;
	 height: 127px;
	 z-index:2;
} 

 #KIMRICHTER 
{ 
	 left: 157px; 
	 top: 315px; 
	 position: absolute; 
	 width: 93px;
	 height: 13px;
	 z-index:3;
} 

 #RealtorBroker 
{ 
	 left: 165px; 
	 top: 335px; 
	 position: absolute; 
	 width: 75px;
	 height: 12px;
	 z-index:4;
} 

 #WWW7455VETERANSMEMOR 
{ 
	 left: 166px; 
	 top: 444px; 
	 position: absolute; 
	 width: 268px;
	 height: 13px;
	 z-index:5;
} 

 #Shape2 
{ 
	 left: 34px; 
	 top: 477px; 
	 position: absolute; 
	 width: 529px;
	 height: 46px;
	 z-index:6;
} 

 #Phone3142343345 
{ 
	 left: 153px; 
	 top: 370px; 
	 position: absolute; 
	 width: 97px;
	 height: 10px;
	 z-index:7;
} 

 #Emailkrichtermckelve 
{ 
	 left: 118px; 
	 top: 388px; 
	 position: absolute; 
	 width: 170px;
	 height: 10px;
	 z-index:8;
} 

 #Screenshot20240728at 
{ 
	 left: 338px; 
	 top: 292px; 
	 position: absolute; 
	 width: 210px;
	 height: 127px;
	 z-index:9;
} 

 #DISCLAIMERMcKelveyPr 
{ 
	 left: 35px; 
	 top: 486px; 
	 position: absolute; 
	 width: 524px;
	 height: 26px;
	 z-index:10;
} 

 #Rectangle2 
{ 
	 left: 485px; 
	 top: 512px; 
	 position: absolute; 
	 width: 71px;
	 height: 20px;
	 z-index:11;
} 

 #Unsubscribe 
{ 
	 left: 491px; 
	 top: 518px; 
	 position: absolute; 
	 width: 59px;
	 height: 9px;
	 z-index:12;
} 

 #Rectangle5 
{ 
	 left: 77px; 
	 top: 143px; 
	 position: absolute; 
	 width: 417px;
	 height: 49px;
	 z-index:13;
} 

 #PDFDOWNLOADLINKHERE 
{ 
	 left: 96px; 
	 top: 160px; 
	 position: absolute; 
	 width: 233px;
	 height: 15px;
	 z-index:14;
} 

 #Layer1 
{ 
	 left: 336px; 
	 top: 120px; 
	 position: absolute; 
	 width: 162px;
	 height: 69px;
	 z-index:15;
} 

 #Ifyourequireanimmedi 
{ 
	 left: 40px; 
	 top: 214px; 
	 position: absolute; 
	 width: 503px;
	 height: 28px;
	 z-index:16;
} 

 #Thankyouforreachingo 
{ 
	 left: 39px; 
	 top: 36px; 
	 position: absolute; 
	 width: 514px;
	 height: 72px;
	 z-index:17;
} 

 #Allthebestinsecuring 
{ 
	 left: 37px; 
	 top: 259px; 
	 position: absolute; 
	 width: 277px;
	 height: 14px;
	 z-index:18;
} 

 #Rectangle6 
{ 
	 left: -1px; 
	 top: -2px; 
	 position: absolute; 
	 width: 603px;
	 height: 579px;
	 z-index:19;
} 
